---
layout: page
---

<!-- about.html -->
<div class="post">

  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        {% unless profile.alumni %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = "img-fluid z-depth-1 rounded-circle" %}
              {% else %}
                {% assign profile_image_class = "img-fluid z-depth-1 rounded" %}
              {% endif %}

              {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">
                {{ profile.more_info }}
              </div>
            {% endif %}
          </div>

          <div class="clearfix">
            <h4>{{ profile.name }}</h4>
            <span>
              <h6>
                <em>{{ profile.position }}</em>
                {% if profile.email %}
                  <a href="mailto:{{ profile.email }}"><i class="fas fa-envelope" style='padding-left: 12px;'></i></a>
                {% endif %}
              </h6>
              <div>
                {{ profile.info | markdownify }}
              </div>
            </span>
          </div>
        {% endunless %}
      {% endfor %}
      <hr style="border: 2px solid #000; margin: 20px 0;">
      <h2><b>Alumni</b></h2>
      <div class="custom-list">
        {% for profile in page.profiles %}
          {% if profile.alumni %}
            <p>&nbsp;&nbsp;
              {{ profile.name }}, {{ profile.info }}
            </p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </article>

</div>
